# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
data/
data_procesada/*
!data_procesada/manifiesto.csv

# Models (Solo si son mayores a 100MB)
models/best_model_vgg16_*.pth

# OS
.DS_Store
Thumbs.db
